html, body {
	height: 100%;
	width: 100%;
}

#container {
	height: 100%;
	width: 100%;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	height: 14%;
	width: 100%;
	background-color: #2dd7e2;
}
#map {
	height: 100%;
	margin-left: -10px;
}
#footer {
	background-color: white;
	position: fixed;
	left: 0;
	bottom: 0;
	height: 10%;
	width: 100%;
}

.bottom {
	height: 100%;
	text-align: center;
	font-size: 8px;
	color: #888888;
}
#left {
	float: left;
	width: 33%;
}
#center {
	float: left;
    width: 33%;
}
#right {
	width: 33%;
	float: left;
}

#icon-header {
	width: 20px;
	height: 30px;
	/*margin-top: 40px;
	margin-left: 70px;*/
	padding-top: 8%;
	padding-left: 20%;
	float: left;
}

#area {
    width: 250px;
    height: 30px;
    padding-left: 30%;
    padding-top: 8%;
    font-size: 25px;
    /*vertical-align: middle;*/
    /*div没有vertical属性*/
    /*设置文字垂直居中*/
    line-height: 30px;
    color: #fcfcfc;
}

.icon {
	width: 16%;
	height: 50%;
	padding-top: 10px;
}
